.title {
	text-align: center;
	margin-bottom: 12px;
}
.form-save {
	padding: 12px;
	background-color: #ddd;
	border: 2px solid #ccc;
}

.label-input {
	width: 95%;
}

.label-input input {
	border: 2px solid #ccc;
}

.custom-select {
	position: relative;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 18px;
	padding: 10px 16px;
	background-color: #ffffff;
	border: 2px solid #ccc;
	border-radius: 5px;
	color: #000000;
	cursor: pointer;
	outline: none;
}

.custom-select select:focus {
	background: #f2f2f2;
	border-radius: 5px;
	border: 2px solid #ccc;
}

.custom-select::after {
	content: '';
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.btn-save:hover {
	background: rgb(255, 143, 45);
	transition: background 0.3s;
}

.error {
	color: red;
}

button.clear {
	background-color: #eee;
	border: 1px solid #ccc;
	outline: 2px solid #eee;
	color: #555;
}

button.clear:hover {
	color: #fff;
}
