.container {
	border: 2px solid red;

	display: grid;
	grid-template-columns: 2fr 1fr;
}

.main-content {
	border: 1px solid grey;
	margin: 8px;
	padding: 12px 20px;
}

.sidebar {
	border: 1px solid grey;
	margin: 8px;
	padding: 12px 20px;
}
