.table-component {
	overflow: auto;
	width: 100%;
}

.table-component table {
	height: 100%;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: left;
}

.table-component caption {
	caption-side: top;
	text-align: left;
}

.table-component th {
	text-align: center;
}

.table-component td {
	border: 1px solid #dededf;
}

.table-component tr {
	background-color: #ffffff;
}

.table-component th,
.table-component td {
	padding: 10px 16px;
}

.table-component td:last-child {
	position: relative;
}

.date-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-delete {
	background-color: rgb(255, 183, 183);
	border: none;
	color: #ffffff;
	width: 18px;
	height: 18px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color 0.3s ease;
}

.btn-delete:hover {
	background-color: rgb(255, 100, 100);
	transition: background-color 0.3s ease;
}

tr.hovered {
	background-color: #f3f3f3;
	transition: background-color 0.3s ease;
}
