.stash {
	border: 1px solid #ccc;
	border-bottom: none;
	display: flex;
	justify-content: center;
	font-size: 1rem;
	padding: 8px;
	transition: background-color 0.3s ease;
}

.stash:last-child {
	border-bottom: 1px solid #ccc;
	margin-bottom: 16px;
}

.stash:hover {
	background-color: rgb(255, 239, 226);
	transition: background-color 0.3s ease;
}

.stash-id,
.amount {
	width: 30%;
}

.user {
	width: 60%;
}

.stash-id,
.amount,
.user {
	padding: 8px 16px;
	text-align: left;
}

.emphasis {
	display: inline-block;
	margin: 0 4px;
	text-transform: uppercase;
	font-size: 1.15rem;
	font-weight: bold;
}

.amount-highlight {
	background-color: orange;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
}
