.total-amount-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.total-amount {
	background-color: orange;
	padding: 2px;
	font-size: 2rem;
	color: white;
	margin: 16px auto;
	border-radius: 24px;
	width: 50%;
	outline: 2px solid orange;
	border: 2px solid #fff;
	text-align: center;
}

@media (max-width: 480px) {
	.total-amount {
		font-size: 1.75rem;
	}
}
