.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signupForm {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding-top: 50px;
}

span,
label {
	display: block;
}

label {
	margin-bottom: 16px;
}

span {
	font-weight: 500;
	margin-bottom: 4px;
}

input {
	width: 100%;
	padding: 8px 6px;
	font-size: 1rem;
	color: #777;
}

.error {
	color: red;
}
