.container {
	display: flex;
	justify-content: center;
	height: 60vh;
}

.signupForm {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding-top: 80px;
}

.btnSignup {
	/* width: 200px;
	height: 40px; */
}

span,
label {
	display: block;
}

label {
	margin-bottom: 16px;
}

span {
	font-weight: 500;
	margin-bottom: 4px;
}

input {
	width: 100%;
	padding: 8px 6px;
	font-size: 1rem;
	color: #777;
}
